.cuontainer {
    
        width: 100%;
        height: 450px;
        background: #bc1a1a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
}